
.chatP {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 25px;
  word-break: break-word;
  width: 100%;
  
}

.emailP {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 25px;
  padding: 0;
  margin: 0;
}

.dateP{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 20px;
  padding: 0;
  margin: 0;
  
}

.msg {
  display: flex;
  box-shadow: 0 0 10px rgb(164, 164, 164);
  align-items: center;
  text-align: right;
  margin-top: 0;
}

.sent {
  background-color: #395dff;
  color: white;
  flex-direction: row-reverse;
  text-align: left;
  float: right;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-left: auto; 
  margin-right: 0;
}

.received {
  border: 1px solid lightgray;
  background-color: #FAFAFA;
  text-align: left;
  float: left;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sendMsg {
  position: fixed;
  display: flex;
  bottom: 0;
  z-index: 1;
  border-top: 1px solid lightgray;
  margin-left: -5px;
  margin-bottom: 20px;
  background-color: #fafafa;
  width: 100%;
}

.msgs {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
  margin-left: 5%;
  margin-right: 5%;
}


@media (max-width: 775px) {
  .chatP {
    font-size: 20px;
  }
  .emailP {
    font-size: 20px;
  }
  .dateP {
    font-size: 15px;
  }
  .sent {
    padding: 10px 10px 0 10px;
  }
  .received {
    padding: 10px 10px 0 10px;
  }
}

@media (max-width: 500px) {
  .chatP {
    font-size: 15px;
  }
  .emailP {
    font-size: 15px;
  }
  .dateP {
    font-size: 10px;
  }
  .sent {
    padding: 7px 7px 0 7px;
  }
  .received {
    padding: 7px 7px 0 7px;
  }
}
.searchBar{
  width: 100%;
}

.sendButton{
  background-color: #0F6E0F;
  border-radius: 0;
  color: white;
  margin: 0;
  padding: 0;
}



 
