.contacts_body {
  padding: 0.75rem 0 !important;
  white-space: nowrap;
}

.contacts {
  list-style: none;
  padding: 0;
}

.contacts li {
  width: 100% !important;
  padding: 5px 10px;
  margin-bottom: 15px !important;
}

.user_img {
  height: 70px;
  width: 70px;
  border: 1.5px solid #f5f6fa;
}

.img_cont {
  height: 70px;
  width: 70px;
}

.img_cont_msg {
  height: 40px;
  width: 40px;
}

.user_info {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 15px;
}

.user_info span {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.3);
}
.mt-overflow-hidden{
  overflow:hidden;
}
.user_info p {
  font-size: 10px;
  color: rgba(0, 0, 0, 0.3);
}

.contact {
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
}