.documentsScreen {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
.top textarea {
  height: 80%;
  border: 2px solid black;
}
.save {
  background-color: #0F6E0F;
  color: white;
  border-radius: 10px;
  width: 27%;
  margin: 2em;
}
.save:hover {
  background-color: #148814;
  transition: 200ms;
}


  