.loginScreen {
  font-family: Tahoma;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
}

.boogschutterlogo {
  width: 100px;
  height: 100px;
}

.form-style input {
  border: 0;
  height: 50px;
  border-radius: 0;
  border-bottom: 1px solid #ebebeb;
}

.form-style input:focus {
  border-bottom: 1px solid #007bff;
  box-shadow: none;
  outline: 0;
  background-color: #ebebeb;
}

.sideline {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #ccc;
}

.agenda-buttons {
  background-color: #0F6E0F;
  color: white;
  border-radius: 10px;
  width: 27%;
  margin: auto;
}

.agenda-buttons:hover {
  background-color: #148814;
  transition: 200ms;
}



.sideline:before,
.sideline:after {
  content: '';
  border-top: 1px solid #ebebeb;
  margin: 0 20px 0 0;
  flex: 1 0 20px;
}

.sideline:after {
  margin: 0 0 0 20px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
}

<<<<<<< HEAD
.passwordLink {
  opacity: 0.5;
=======
.credentialErrorButton {
  margin-top: 10px;
}

.card {
  border: 3px solid black;
}

.topMargin {
  margin-top: 10px;
>>>>>>> fb9e5569e58f5526d820c79b429be4cf4b6c40e7
}