.navbar {
    background-color: darkgreen;
    height: 80px;
}

.menu-bars {
    font-size: 2rem;
    background: none;
    margin-left: 16px;
    color: white;
}

.menu-bars:hover {
    color: white;
}

.nav-menu {
    background-color: rgb(39,39,39);
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -150%;
    transition: 1600ms;
    z-index: 10;
}

.nav-menu.active {
    left: 0;
    transition: 500ms;
    z-index: 10;
}

.nav-text {
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 8px;
    height: 60px;
}

.nav-text a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 18px;
    width: 95%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    border-radius: 4px;
}

.nav-text a:hover {
    color: darkgreen;
    text-decoration: none;
}

.navbar-toggle {
    background-color: rgb(39,39,39);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.navbarList {
    padding: 0px 0px 0px 0px;
}

